﻿@model Website.Controllers.UsersModel
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Csv Value Provider Test</title>
        <style type="text/css">
            .field-validation-valid { display: none; }

            .field-validation-error {
                color: red;
                display: block;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>Csv ValueProvider Test</h2>
            @if (Model.Users.Any(m => m != null) && ViewContext.ViewData.ModelState.IsValid)
            {
                <h3>Successfully parsed the following users</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>              
                        @foreach (var user in Model.Users.Where(m => m != null))
                        {
                            <tr>
                                <td>@user.Username</td>
                                <td>@user.FullName</td>
                                <td>@user.Email</td>
                                <td>@user.Age</td>
                                <td>@string.Join(",", user.Roles)</td>
                            </tr>
                        }
        
                    </tbody>
                </table>
            }
            <div style="clear: both;">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    for (int i = 0; i < Model.Users.Count; i++)
                    {
                        if (!ViewContext.ViewData.ModelState.IsValidField("Users[" + i + "]"))
                        {
                            <p class="field-validation-error">Invalid values in row @i</p>
                            @Html.ValidationMessageFor(m => m.Users[i].Age)
                            @Html.ValidationMessageFor(m => m.Users[i].Email)
                            @Html.ValidationMessageFor(m => m.Users[i].FullName)
                            @Html.ValidationMessageFor(m => m.Users[i].Username)
                            @Html.ValidationMessageFor(m => m.Users[i].Roles)
                        }
                    }
                    @Html.TextBoxFor(m => m.Users, new { type = "file" })
                    <button type="submit">Submit</button>
                } 
            </div>      
        </div>
    </body>
</html>